Repository feryardiant/learn-bun-elysia: changes, and which Codecov flags are due for each by the changed paths.
All: auth, feed, mail, utils

test(error-handler): add test for better-auth `APIError` (#85)
  test/plugins/error-handler.plugin.test.ts
Due: none

test(auth): update auth config test coverages decreased by 5e7dca6
  test/config/auth.config.test.ts
Due: none

chore(auth): clean up
  src/plugins/auth.plugin.ts
Due: auth

chore(static): re db0fb8f
  src/plugins/static.plugin.ts
Due: none

test(auth): ensure to get proper response from `auth.handler`
  src/routes/auth.route.ts
  test/routes/auth.route.test.ts
Due: none

fix(auth): fix critical issue as discovered by @coderabbitai
  src/routes/auth.route.ts
Due: none

chore(auth): fix trusted origins potential issues
  src/config/auth.config.ts
  src/plugins/auth.plugin.ts
  test/config/auth.config.test.ts
  test/plugins/auth.plugin.test.ts
Due: auth

chore(auth): another fix potential issue
  src/routes/auth.route.ts
Due: none

fix: opentelemetry logger integrations (#66)
  .devcontainer/compose.yml
  bun.lock
  deploy/compose.yml
  package.json
  src/app.ts
  src/modules/auth/repositories/account.repository.ts
  src/modules/auth/repositories/session.repository.ts
  src/modules/auth/repositories/user.repository.ts
  src/modules/feeds/posts.controller.ts
  src/modules/feeds/repositories/comment.repository.ts
  src/modules/feeds/repositories/post.repository.ts
  src/plugins/auth.plugin.ts
  src/plugins/error-handler.plugin.ts
  src/plugins/logger.plugin.ts
  src/plugins/otel.plugin.ts
  src/plugins/static.plugin.ts
  src/routes/auth.route.ts
  src/utils/request.util.ts
  test/fixtures/index.ts
  test/fixtures/otel-helpers.ts
  test/plugins/auth.plugin.test.ts
  test/plugins/logger.plugin.test.ts
  test/plugins/otel.plugin.test.ts
  test/routes/auth.route.test.ts
Due: auth, utils

feat(otel): enable drizzle otel instrumentation via `@kubiks/otel-drizzle`
  bun.lock
  package.json
  src/plugins/database.plugin.ts
Due: none

chore(otel): try to inintialize db instrument after otel plugin
  src/plugins/database.plugin.ts
  src/plugins/otel.plugin.ts
Due: none

revert(9ce4fc6): "chore(otel): try to inintialize db instrument after otel plugin"
  src/plugins/database.plugin.ts
  src/plugins/otel.plugin.ts
Due: none

refactor(otel): move `recordableClass` decorator to `otel.util`
  src/modules/auth/repositories/account.repository.ts
  src/modules/auth/repositories/session.repository.ts
  src/modules/auth/repositories/user.repository.ts
  src/modules/feeds/repositories/comment.repository.ts
  src/modules/feeds/repositories/post.repository.ts
  src/plugins/otel.plugin.ts
  src/utils/otel.util.ts
  test/fixtures/otel-helpers.ts
  test/plugins/otel.plugin.test.ts
  test/utils/otel.util.test.ts
Due: auth, utils

fix: fix failing test
  src/utils/otel.util.ts
Due: utils

test: add more coverages
  test/utils/otel.util.test.ts
Due: none

chore: add `ClassDecorator` return value for `recordableClass`
  src/utils/otel.util.ts
Due: utils

chore: clean up
  test/utils/otel.util.test.ts
Due: none

refactor(otel): move `recordableClass` decorator to `otel.util` (#87)
  src/modules/auth/repositories/account.repository.ts
  src/modules/auth/repositories/session.repository.ts
  src/modules/auth/repositories/user.repository.ts
  src/modules/feeds/repositories/comment.repository.ts
  src/modules/feeds/repositories/post.repository.ts
  src/plugins/otel.plugin.ts
  src/utils/otel.util.ts
  test/fixtures/otel-helpers.ts
  test/plugins/otel.plugin.test.ts
  test/utils/otel.util.test.ts
Due: auth, utils

chore(ci): update labeler config
  .github/labeler.yml
Due: none

chore(ci): update labeler config (again)
  .github/labeler.yml
Due: none

refactor: rename `db.config.test` to `database.config.test`
  test/config/database.config.test.ts
Due: none

chore: add `utils` to `api` label
  .github/labeler.yml
Due: none

feat(ci): update labeler config (#88)
  .github/labeler.yml
  test/config/database.config.test.ts
Due: none

chore: rearrange code structure & prepare for next
  src/utils/otel.util.ts
Due: utils

fix: fix potential major issue discovered by @coderabbitai
  src/utils/otel.util.ts
Due: utils

fix: ensure the span is activated before invoking the callback
  src/utils/otel.util.ts
Due: utils

fix: another potential issue with `instrumented` key
  src/utils/otel.util.ts
Due: utils

feat(otel): enable drizzle otel instrumentation via `@kubiks/otel-drizzle` (#86)
  bun.lock
  package.json
  src/plugins/database.plugin.ts
  src/utils/otel.util.ts
Due: utils

chore(deps): downgrade `drizzle` to `beta.17`
  bun.lock
  package.json
Due: none

chore(deps): bump drizzle orm and kit to beta.20 with bun 1.3.10
  .devcontainer/compose.yml
  .devcontainer/dockerfile
  .env.example
  .github/workflows/docker.yml
  .github/workflows/main.yml
  .tool-versions
  bun.lock
  compose.yml
  deploy/docker/elysia-app.dockerfile
  package.json
Due: none

fix(deps): bump `drizzle` to `beta.20` and `bun` to `1.3.10` (#89)
  .devcontainer/compose.yml
  .devcontainer/dockerfile
  .env.example
  .github/workflows/docker.yml
  .github/workflows/main.yml
  .tool-versions
  bun.lock
  compose.yml
  deploy/docker/elysia-app.dockerfile
  package.json
Due: none

chore(otel): add missing return type
  src/utils/otel.util.ts
Due: utils

refactor(otel): change `record` method signature
  src/utils/otel.util.ts
Due: utils

chore(db): add `prepareRelationalQuery` patch for otel
  src/utils/otel.util.ts
Due: utils

chore(otel): ensure relational queries are traced properly
  src/utils/otel.util.ts
Due: utils

chore(otel): add simple method to retrieve query param
  src/utils/otel.util.ts
Due: utils

chore: follow @coderabbitai suggestion
  src/utils/otel.util.ts
Due: utils

feat(otel): add ability to track `prepareRelationalQuery` (#90)
  src/utils/otel.util.ts
Due: utils

feat(ci): init deployment config
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: none

chore: clean up
  .github/workflows/deploy.yml
Due: none

Path conditions:
  auth: any of: src/configs/auth.config.ts, src/modules/auth/**, src/plugins/auth.plugin.ts
  feed: any of: src/modules/feed/**
  mail: any of: src/configs/mail.config.ts, src/plugins/mail.plugin.ts
  utils: any of: src/utils/**
