Repository feryardiant/learn-bun-elysia: changes, and which Codecov flags are due for each by the changed paths.
All: auth, feed, utils

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 5%
        paths:
          - src

component_management:
  default_rules:
    - type: project
      target: auto
      branches:
        - '!main'
  individual_components:
    - component_id: module_auth
      name: auth
      paths:
        - src/modules/auth/**
        - src/plugins/auth.plugin.ts
    - component_id: module_feed
      name: feed
      paths:
        - src/modules/feed/**
        - src/plugins/feed.plugin.ts
    - component_id: utilities
      name: utils
      paths:
        - src/utils/**

docs: add status badges in readme
  README.md
Due: none

feat: init `codecov` integration (#58)
  .github/workflows/main.yml
  README.md
  bunfig.toml
  codecov.yml
Due: none

fix(ci): invalid `codecov.yml` file
  codecov.yml
Due: none

test: add `tearDownTables` test helper
  test/fixtures/index.ts
  test/modules/feeds/repositories/comment.repository.test.ts
  test/modules/helpers.ts
  test/plugins/auth.plugin.test.ts
  test/routes/auth.route.test.ts
Due: none

test: try to use transaction instead
  test/fixtures/index.ts
Due: none

feat(test): add `tearDownTables` test helper (#59)
  test/fixtures/index.ts
  test/modules/feeds/repositories/comment.repository.test.ts
  test/modules/helpers.ts
  test/plugins/auth.plugin.test.ts
  test/routes/auth.route.test.ts
Due: none

refactor(test): remove unecessary root `describe` block on each tests
  test/config/app.config.test.ts
  test/config/auth.config.test.ts
  test/config/db.config.test.ts
  test/modules/feeds/posts.controller.test.ts
  test/modules/feeds/repositories/comment.repository.test.ts
  test/modules/feeds/repositories/post.repository.test.ts
  test/plugins/auth.plugin.test.ts
  test/plugins/error-handler.plugin.test.ts
  test/plugins/logger.plugin.test.ts
  test/routes/auth.route.test.ts
Due: none

chore: fix @coderabbitai nitpicks
  test/modules/feeds/posts.controller.test.ts
  test/plugins/auth.plugin.test.ts
  test/routes/auth.route.test.ts
Due: none

refactor(test): remove unecessary root `describe` block on each tests (#60)
  test/config/app.config.test.ts
  test/config/auth.config.test.ts
  test/config/db.config.test.ts
  test/modules/feeds/posts.controller.test.ts
  test/modules/feeds/repositories/comment.repository.test.ts
  test/modules/feeds/repositories/post.repository.test.ts
  test/plugins/auth.plugin.test.ts
  test/plugins/error-handler.plugin.test.ts
  test/plugins/logger.plugin.test.ts
  test/routes/auth.route.test.ts
Due: none

chore: init `mailpit` as local development mail server
  .devcontainer/compose.yml
  compose.yml
  deploy/compose.staging.yml
  deploy/compose.yml
Due: none

chore: init `nodemailer`
  bun.lock
  package.json
Due: none

chore: add `SMTP_*` email configs
  .env.example
  src/config/index.ts
  src/config/mail.config.ts
  test/config/mail.config.test.ts
Due: none

chore: add missing `mailpit` in `devcontainer.json` file
  .devcontainer/devcontainer.json
Due: none

chore: cleanup
  test/config/mail.config.test.ts
Due: none

chore: introduce new error for missing config
  src/utils/errors.util.ts
Due: utils

chore: configure mailpit local data
  deploy/compose.yml
  deploy/local/.gitignore
Due: none

chore: init `mail` plugin
  src/plugins/mail.plugin.ts
  test/plugins/mail.plugin.test.ts
Due: none

chore: fix typo
  .env.example
  test/plugins/mail.plugin.test.ts
Due: none

chore: change default `SMTP_USER` & `SMTP_PASS` to undefined
  .env.example
  deploy/compose.yml
  src/plugins/mail.plugin.ts
Due: none

chore: ensure only string email address got validated
  src/plugins/mail.plugin.ts
Due: none

chore: update test due to previous commit
  test/plugins/mail.plugin.test.ts
Due: none

chore: prevent error when TRUSTED_ORIGIN got `undefined` during test
  src/plugins/auth.plugin.ts
Due: auth

chore: avoid overriding other tests
  test/plugins/mail.plugin.test.ts
Due: none

chore: add mail label and component
  .github/labeler.yml
  codecov.yml
Due: none

chore: add global `AppError` and update error codes
  src/utils/errors.util.ts
Due: utils

chore: rethrow `ValueError` as `InvalidParamError`
  src/plugins/mail.plugin.ts
  test/plugins/mail.plugin.test.ts
Due: none

chore: export `ERROR_CODES` as suggested by @coderabbitai
  src/utils/errors.util.ts
Due: utils

feat(mail): init `mail` plugin (#61)
  .devcontainer/compose.yml
  .devcontainer/devcontainer.json
  .env.example
  .github/labeler.yml
  bun.lock
  codecov.yml
  compose.yml
  deploy/compose.staging.yml
  deploy/compose.yml
  deploy/local/.gitignore
  package.json
  src/config/index.ts
  src/config/mail.config.ts
  src/plugins/auth.plugin.ts
  src/plugins/mail.plugin.ts
  src/utils/errors.util.ts
  test/config/mail.config.test.ts
  test/plugins/mail.plugin.test.ts
Due: auth, utils

chore: declare error codes as single enum
  src/plugins/auth.plugin.ts
  src/plugins/error-handler.plugin.ts
  src/utils/errors.util.ts
  src/utils/response.util.ts
  test/plugins/error-handler.plugin.test.ts
  test/plugins/logger.plugin.test.ts
  test/utils/pagination.util.test.ts
Due: auth, utils

chore: remove `NotFoundError` constructor override as of now
  src/utils/errors.util.ts
Due: utils

feat: declare error codes as single enum (#62)
  src/plugins/auth.plugin.ts
  src/plugins/error-handler.plugin.ts
  src/utils/errors.util.ts
  src/utils/response.util.ts
  test/plugins/error-handler.plugin.test.ts
  test/plugins/logger.plugin.test.ts
  test/utils/pagination.util.test.ts
Due: auth, utils

chore: rearrange `DB_*` ordering
  .env.example
  deploy/compose.yml
  src/config/database.config.ts
Due: none

chore: add `jaeger:v2` for local OTEL collector
  .devcontainer/compose.yml
  .devcontainer/devcontainer.json
  .env.example
  compose.yml
  deploy/compose.staging.yml
  deploy/compose.yml
Due: none

chore: add `@elysiajs/opentelemetry` and `@opentelemetry/*` as dependencies
  bun.lock
  package.json
Due: none

chore: init `otel` plugin
  src/app.ts
  src/config/index.ts
  src/config/otel.config.ts
  src/plugins/otel.plugin.ts
Due: none

chore: rearrange `@opentelemetry` dependencies
  bun.lock
  package.json
Due: none

chore: workaround with otel plugin initiation
  src/plugins/otel.plugin.ts
Due: none

chore: catch better-auth handler
  src/plugins/otel.plugin.ts
  src/routes/auth.route.ts
Due: none

chore: rename each spans
  src/plugins/auth.plugin.ts
  src/plugins/error-handler.plugin.ts
  src/plugins/logger.plugin.ts
  src/plugins/otel.plugin.ts
Due: auth

chore: fix compose file
  deploy/compose.yml
Due: none
