Repository feryardiant/learn-bun-elysia: changes, and which Codecov flags are due for each by the changed paths.
All: auth, feed, mail, utils

test: init basic testing
  bun.lock
  package.json
  src/plugins/error-handler.plugin.ts
  test/plugins/otel.plugin.test.ts
Due: none

test: add health check test
  test/plugins/otel.plugin.test.ts
Due: none

test: reset `handler` mock after each test
  src/plugins/otel.plugin.ts
  test/plugins/otel.plugin.test.ts
Due: none

test: add span tests
  test/plugins/otel.plugin.test.ts
Due: none

chore: follow @coderabbitai suggestion
  test/plugins/otel.plugin.test.ts
Due: none

chore: add basic jaeger config files
  deploy/compose.yml
  deploy/jaeger-config.yml
  deploy/jaeger-ui-config.json
Due: none

feat: init `opentelemetry` (#63)
  .devcontainer/compose.yml
  .devcontainer/devcontainer.json
  .env.example
  bun.lock
  compose.yml
  deploy/compose.staging.yml
  deploy/compose.yml
  deploy/jaeger-config.yml
  deploy/jaeger-ui-config.json
  package.json
  src/app.ts
  src/config/index.ts
  src/config/otel.config.ts
  src/plugins/auth.plugin.ts
  src/plugins/error-handler.plugin.ts
  src/plugins/logger.plugin.ts
  src/plugins/otel.plugin.ts
  src/routes/auth.route.ts
  test/plugins/otel.plugin.test.ts
Due: auth

chore(deps): bump dependencies
  bun.lock
  package.json
Due: none

chore(deps): lock drizzle versions
  bun.lock
  package.json
Due: none

chore(deps): override `@opentelemetry` package versions
  bun.lock
  package.json
Due: none

chore(deps): bump `drizzle` package versions
  bun.lock
  package.json
Due: none

chore(deps): follow @coderabbitai suggestions
  bun.lock
  package.json
Due: none

chore: replace `drizzle-typebox` with `drizzle-orm/typebox`
  src/modules/auth/schemas/index.ts
  src/modules/feeds/schemas/index.ts
Due: auth

chore: replace `drizzle-orm/typebox` with `drizzle-orm/typebox-legacy`
  src/modules/auth/schemas/index.ts
  src/modules/feeds/schemas/index.ts
Due: auth

chore(deps): bump dependencies (#64)
  bun.lock
  package.json
  src/modules/auth/schemas/index.ts
  src/modules/feeds/schemas/index.ts
Due: auth

chore: init integrating pino and otel
  bun.lock
  package.json
  src/app.ts
  src/plugins/logger.plugin.ts
  src/plugins/otel.plugin.ts
  src/utils/request.util.ts
  test/plugins/logger.plugin.test.ts
  test/plugins/otel.plugin.test.ts
Due: utils

chore: forward db port on devcontainer instance
  .devcontainer/compose.yml
Due: none

chore: add opentelemetry test helper to catch the span processes
  test/fixtures/otel-helpers.ts
Due: none

chore: export span and log record processor, make them testable
  src/plugins/otel.plugin.ts
  test/plugins/otel.plugin.test.ts
Due: none

chore: remove pino otel instrument hook
  src/plugins/otel.plugin.ts
Due: none

chore(deps): bump drizzle orm and kit to beta.19
  bun.lock
  package.json
Due: none

chore(deps): bump drizzle orm and kit to beta.19
  .github/dependabot.yml
Due: none

chore(ci): update dependency groups
  .github/dependabot.yml
Due: none

chore(deps): update dependabot config (#73)
  .github/dependabot.yml
Due: none

chore(otel): add `recordableClass` decorator
  src/plugins/otel.plugin.ts
  test/fixtures/otel-helpers.ts
  test/plugins/otel.plugin.test.ts
Due: none

chore(otel): apply `recordableClass` to all repositories
  src/modules/auth/repositories/account.repository.ts
  src/modules/auth/repositories/session.repository.ts
  src/modules/auth/repositories/user.repository.ts
  src/modules/feeds/repositories/comment.repository.ts
  src/modules/feeds/repositories/post.repository.ts
  src/plugins/otel.plugin.ts
  test/plugins/otel.plugin.test.ts
Due: auth

chore(otel): add simple custom span options
  src/plugins/otel.plugin.ts
Due: none

chore(ci): remove wildcard groups
  .github/dependabot.yml
Due: none

chore(ci): add more groups
  .github/dependabot.yml
Due: none

chore(ci): remove wildcard groups (#79)
  .github/dependabot.yml
Due: none

chore(deps): fix package declarations
  bun.lock
  package.json
Due: none

chore(auth): enable better-auth telemetry, see #82
  deploy/compose.yml
  src/plugins/auth.plugin.ts
Due: auth

chore(otel): add `afterHandle` hook
  src/plugins/otel.plugin.ts
Due: none

chore(otel): add hook name for span naming purposes
  src/modules/feeds/posts.controller.ts
  src/plugins/otel.plugin.ts
Due: none

chore(otel): use function name as span name instead of overriding via helper
  src/plugins/auth.plugin.ts
  src/plugins/error-handler.plugin.ts
  src/plugins/otel.plugin.ts
  src/routes/auth.route.ts
  test/plugins/otel.plugin.test.ts
Due: auth

chore: clean up
  src/plugins/otel.plugin.ts
  test/fixtures/otel-helpers.ts
  test/plugins/otel.plugin.test.ts
Due: none

chore: use fixture index to export otel helpers
  test/fixtures/index.ts
  test/plugins/otel.plugin.test.ts
Due: none

chore(routes): fix conflicting routes between auth and static plugin
  src/routes/auth.route.ts
Due: none

chore(auth): fallback to wildcard origin when TRUSTED_ORIGIN is empty
  src/config/auth.config.ts
  src/plugins/auth.plugin.ts
Due: auth

chore(error-handler): add test for better-auth `APIError`
  test/plugins/error-handler.plugin.test.ts
Due: none

Path conditions:
  auth: any of: src/configs/auth.config.ts, src/modules/auth/**, src/plugins/auth.plugin.ts
  feed: any of: src/modules/feed/**
  mail: any of: src/configs/mail.config.ts, src/plugins/mail.plugin.ts
  utils: any of: src/utils/**
